body {

  height: 100vh;
  background: linear-gradient(20deg, #9807a5, #ce8601, #242b01);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  text-align: center;
}
.layout{
  width: 100%;
  height: 60px;
  background: #d6cbcb;
  float: left;
  z-index: 9999;
  position: fixed;
}
.center{
width: 100%;
height: 60px;
margin: 0 auto;  
}
.center ul{
  width: 70%;
  height: 60px;
  float: left;
}
.center ul li{
  width: auto;
  padding: 19px 50px;
  list-style: none;
  float: right;
  text-align: center;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
}
.center ul li:hover{
background-color: black;  
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.flex.conteiner {

  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.imagemarnaldo {
    float:left;
    margin-left: 50px;
    margin-bottom: 120px;
  
}


.flex-container img {
  flex: 1 0 30%;
  /* O primeiro número é a flex-basis, o segundo é a flex-grow e o terceiro é a flex-shrink */
  width: 100%;
  height: auto;
  padding: 10px;
  
}

footer {
  background-color: #8d4604;
  /* Cor de fundo do rodapé */
  color: #fff;
  /* Cor do texto do rodapé */
  text-align: center;
  /* Alinhamento do texto */
  
  /* Espaçamento interno */
  position: absolute;
  /* Posicionamento absoluto */
  bottom: 0;
  /* Alinhar no rodapé da página */
  width: 100%;
  /* Largura completa */
  margin: auto;
}

.titulo-pagina {
  text-align: center;
  border-radius: 5px;
  width: 80%;
  line-height: 60px;
  font-size: 24pt;
  background-color: rgb(158, 131, 131);
  /* Cor de fundo do rodapé */
  margin: auto;
  color: #fff;
  /* Cor do texto do rodapé */



}

.subtitulo-pagina {
  
  text-align: center;
  border-radius: 5px;
  width: 80%;
  line-height: 60px;
  font-size: 20pt;
  background-color: rgb(0, 0, 0);
  /* Cor de fundo do rodapé */
  margin: auto;
  color: #fff;
  /* Cor do texto do rodapé */
padding: auto;
}





#chat-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  flex-direction: column;

}

#chat-messages {
  height: 700px;
  overflow-y: scroll;

}

#chat-form {
  display: flex;

}

#chat-input {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-bottom: 10px;
}







form {
  width: 15%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);


}

.form-group {
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}




.logo {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  margin: 3rem auto;
}


